<div ng-controller="PointCtrl" layout="row">
    <div class="new-point" layout="column" layout-gt-sm flex ng-if="!loading && !saving">
        <div flex-gt-sm layout="column" class="card" md-whiteframe="1" style="padding:0;">
            <div layout="row">
                <md-button ng-click="selectAll(2)" flex class="md-raised" style="background-color: #3F51B5">
                    All Takali
                </md-button>
                <md-button ng-click="selectAll(1)" flex class="md-raised" style="background-color: #F44336">
                    All Vanua
                </md-button>
                <md-button ng-click="selectAll(3)" flex class="md-raised" style="background-color: #4CAF50">
                    All Ikabula
                </md-button>
                <md-button ng-click="selectAll(-1)" flex class="md-raised md-accent">
                    All Remaining
                </md-button>    
            </div>
            <div layout="row" layout-wrap style="padding: 12px;">
                <div ng-repeat="contestant in data.contestants" flex="50">
                    <md-checkbox ng-checked="exists(contestant, data.selected)" ng-click="toggle(contestant, data.selected)">
                        <span ng-class="{'eliminated' : isEliminated(contestant)}">{{ contestant.firstName }} {{ contestant.lastName }}</span> <span class="tribe-badge" ng-style="getColors(contestant)">{{contestant.tribe.name}}</span>
                    </md-checkbox>
                </div>
            </div>
        </div>
        <div flex-gt-sm layout="column">
            <div md-whiteframe="1" class="card" layout="row">
                <md-input-container flex>
                    <label>Point Type</label>
                    <md-select ng-model="data.type" ng-init="data.type=data.pointTypes[0]">
                        <md-option ng-repeat="type in data.pointTypes" ng-value="type">
                            {{type.name}} ({{type.amount}} points)
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div md-whiteframe="1" class="card" layout="row">
                <md-input-container flex>
                    <label>Episode</label>
                    <md-select ng-model="data.episode" ng-init="data.episode=data.episodes[0]">
                        <md-option ng-repeat="episode in data.episodes | orderBy:'number'" ng-value="episode">
                            Number {{episode.number}} ({{ episode.date | date : 'MMM d' }})
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-button class="md-raised md-accent" ng-disabled="data.selected.length == 0" ng-click="addPoints()">
                Add Points
            </md-button>
        </div>
    </div>
</div>